<!-- jQuery Library -->
<spring:url value="/webjars/jquery/2.1.4/jquery.min.js" var="jQuery" />
<spring:url value="/webjars/jquery-ui/1.11.4/jquery-ui.min.js" var="jQueryUI" />
<spring:url value="/webjars/jquery-ui/1.11.4/jquery-ui.min.css" var="jQueryUICSS" />

<!-- Semantic-UI CSS & JS -->
<spring:url value="/webjars/Semantic-UI/2.1.6/semantic.min.css" var="SemanticCSS" />
<spring:url value="/webjars/Semantic-UI/2.1.6/semantic.min.js" var="SemanticJS" />

<!-- Site CSS & JS -->
<spring:url value="/resources/css/style.css" var="themeCSS" />
<spring:url value="/resources/js/script.js" var="themeJS" />
<spring:url value="/resources/js/jquery.serialize-object.min.js" var="jQuerySerialize" />

<!-- OwlCarousel plugin -->
<spring:url value="/webjars/OwlCarousel/1.3.2/owl.carousel.min.js" var="OwlCarousel" />
<spring:url value="/webjars/OwlCarousel/1.3.2/owl.carousel.css" var="OwlCarouselCSS" />
<spring:url value="/webjars/OwlCarousel/1.3.2/owl.theme.css" var="OwlCarouselThemeCss" />

<!-- FancyBox plugin -->
<spring:url value="/webjars/fancybox/2.1.5/jquery.fancybox.pack.js" var="FancyBoxJS" />
<spring:url value="/webjars/fancybox/2.1.5/jquery.fancybox.css" var="FancyBoxCSS" />

<!-- Fabric js plugin -->
<spring:url value="/webjars/fabric.js/1.4.12/fabric.min.js" var="FabricJS" />

<!-- Spectrum ColorPicker plugin -->
<spring:url value="/webjars/spectrum/1.7.0/spectrum.js" var="SpectrumJS" />
<spring:url value="/webjars/spectrum/1.7.0/spectrum.css" var="SpectrumCSS" />

<!-- DropZone Plugin -->
<spring:url value="/webjars/dropzone/4.2.0/min/dropzone.min.js" var="DropZone" />
<spring:url value="/webjars/dropzone/4.2.0/min/dropzone.min.css" var="DropZoneCSS" />

<!-- Site i18n-->
<spring:url value="/webjars/jquery-i18n-properties/1.10.2/jquery.i18n.properties.min.js" var="i18props" />
<spring:url value="/JSMessages" var="JSMessages" />
